@import "../constants";

.ResultTitle {
  font-size: 2rem;
  text-align: center;
  margin-top: $margin-xl;
}

.Result {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin: $margin-m;
}

.LinkButton {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  color: $color-orange;
  padding: 0.5rem;
  border: 2px $color-orange solid;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: $margin-xl;

  &:hover {
    background-color: #EA5A0A;
    color: $color-white;
    text-decoration: none;
  }
}